@import url(reset.css);
@import url(header.css);
@import url(sidebar.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap');

:root {
  --white: #E1E3E6;
  --hover-color: #333333;
  --gray-color: #939393;
  --bacground-color-elements:#222222;
}

html, body {
  background: #141414;
  font-family: "Open Sans", serif;
  font-weight: 400;
}

.container{
  padding: 0 15px;
  max-width: 1130px;
  margin: 0 auto;
}

.no-drag {
  -webkit-user-drag: none; /* Отключает перетаскивание изображений*/
  user-select: none; /* Отключает выделение изображений как текста */
}

/* PAGE */

.page{
}
.page__grid{
  display: grid;
  grid-template-rows: 53px 190px 290px 250px;
  grid-template-columns: 2fr 7fr 4fr ;
  row-gap: 12px;
}
.profile {
  display: flex;
  align-items: center;
  padding: 20px;
  border: #363738 1px solid;
  background: var(--bacground-color-elements);
  border-radius: 10px;
  max-width: 910px;
  margin-bottom: 8px;
}
.profile-avatar img{
  width: 150px;
  height: 150px;
  border-radius: 80px;
}
.profile-avatar{
  position: relative;
}
.profile__online-item{
  width: 19px;
  height: 19px;
  background-color: #4BB34B;
  bottom: 10%;
  right: 10%;
  border-radius: 50px;
  border: 3px solid var(--bacground-color-elements);
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.profile-wrapper {
}
.profile-main {
  display: flex;
  margin: 0 0 0 16px;
}
.profile-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: var(--white);
}
.profile-info h2{
  font-size: 20px;
  letter-spacing: 0.2px;
  font-weight: 700;
  min-width: 228px;
}
.profile-info span{
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 4px;
}
.profile-info-dop{
  display: flex;
  justify-content: space-between;  
  gap: 10px;
}
.profile-info-dop span:hover{
  text-decoration: underline;
  cursor: pointer;
}

.profile-info-dop img{
  width: 20px;
  height: 20px;
}
.profile-info-dop span{
  color: var(--gray-color);
}
.profile-button {
  margin: 0 0 0 11.5em;
}
.profile-button button{
  text-align: center; 
  line-height: 32px;
  height: 32px;
  background: #393939;
  border-radius: 7px;
}
.profile-button button:hover{
  background: #3D3D3D;
}
.profile-button span{
  padding: 0 16px;
  font-size: 14px;
  color: var(--white);
  font-weight: 600;
}
/* PREVIEW-PANEL */
.preview-panel {
  border: #363738 1px solid;
  background: var(--bacground-color-elements);
  border-radius: 10px;
  padding: 8px;
}
.preview-panel__sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.preview-panel__sections-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-color);
  font-weight: 500;
  font-size: 14px;
  padding: 2px 8px;
  cursor: pointer;
}
.preview-panel__sections-item img{
  filter: brightness(0) saturate(100%) invert(58%) sepia(0%) saturate(0%) hue-rotate(187deg) brightness(93%) contrast(89%);
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
.preview-panel__content {
  padding: 8px 12px 12px;
}
.preview-panel__content-photo {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  max-width: 534px;
  border-radius: 10px;
}
.preview-panel__content-photo img{
  width: 175px;
  height: 175px;
  margin-right: 5px;
  border: 0.7px solid #363738;
}
.preview-panel__content-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.preview-panel__content-buttons button:hover {
  background: #3D3D3D;
}
.preview-panel__content-buttons button{
  padding: 6px 85px;
  background: #393939;
  color: white;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
}









.page__inner {
  max-width: 600px;
}
.page__inner div{
  
}


.new-post {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 2 / 3;
  border: #363738 1px solid;
  background: var(--bacground-color-elements);
  border-radius: 10px;
  padding: 4px;
  margin-top: 12px;
  color: white;
  max-height: 45px;
}
.new-post img{
  width: 22px;
  height: 22px;
  filter: brightness(0) invert(1);
  margin: 8px;
  cursor: pointer;
}
.new-post__line{
  background: #363738;
  width: 0.5px;
  height: 28px;
  margin: 15px 12px 0 0;
}
.new-post__button-plus{
  font-size: 35px;
  margin-right: 10px;
  font-weight: 200;
}
.new-post__button{
  display: flex;
  align-items: center;
  padding: 2px 170px;
  font-size:14px;
  margin-right: 0;
  font-weight: 600;
  transition: color 0.2s ease;
  cursor: pointer;
}
.new-post__button:hover{
  color: #cacaca;
}
.new-post img:hover{
  filter: brightness(0) saturate(100%) invert(75%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(90%) contrast(80%);
}



.posts {
  grid-column: 2 / 3;
  background-color: #0671b8bd;
  border: 1px solid red;
  align-self: start;
}

/* ASIDE */
.aside {
  margin-left: 16px;
  position: sticky;
  top: 64px;
  max-width: 345px;
}
.friends, .gifts, .subscriptions{
  padding: 8px 8px 16px 8px;
  color: var(--white);
  font-size: 14px;
  border: #363738 1px solid;
  background: var(--bacground-color-elements);
  border-radius: 10px;
  margin-bottom: 16px;
}
.friends__online-heading, .friends__heading, .gifts__heading, .subscriptions__heading{
  padding: 3px 12px 1px;
  margin: 12px 0;
  font-weight: 500;
  cursor: pointer;
}
.friends__online-heading span, .friends__heading span, .gifts__heading span, .subscriptions__heading span{
  margin: 0 0 0 6px;
  color: var(--gray-color);
}
.friends__online-wrapper, .friends__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
}
.friends__online-wrapper-item, .friends__wrapper-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  padding: 0px 8px  8px 8px;
  border-radius: 10px;
  transition: background-color 0.15s ease;
}
.friends__online-wrapper-item:hover, .friends__wrapper-item:hover{
  background: var(--hover-color);
  cursor: pointer;
}
.friends__online-wrapper-item img, .friends__wrapper-item img{
  width: 64px;
  height: 64px;
  border-radius: 50px;
  margin: 5px 0;
}
.friends__online-wrapper-item div, .friends__wrapper-item div{
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 60px; 
}
.friends-line {
  height: 1px;
  background: #363738;
  width: 310px;
  margin: 16px auto 0;
}
.gifts {
  padding-right: 0;
}
.gifts__heading {
}
.gifts__wrapper{
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
  overflow: hidden;
}
.gifts__wrapper img{
  width: 80px;
  height: 80px;
  padding: 8px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.subscriptions__wrapper-item img {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  margin: 4px 12px 4px 0;
}
.subscriptions__wrapper-item {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  padding-left: 12px;
  border-radius: 10px;
  transition: background-color 0.15s ease;
}
.subscriptions__wrapper-item:hover {
  cursor: pointer;
  background: var(--hover-color);
}

.subscriptions__wrapper-item-name{
  display: flex;
  flex-direction: column;
}
.subscriptions__wrapper-item-name span{
  margin-top: 2px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 170px; 
}
.subscriptions__wrapper-item-name-status{
  color: var(--gray-color);
}