@import url(reset.css);
@import url(header.css);
@import url(sidebar.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap');

:root {
  --white: #E1E3E6;
  --hover-color: #333333;
  --gray-color: #939393;
  --bacground-color-elements:#222222;
}

html, body {
  background: #141414;
  font-family: "Open Sans", serif;
  font-weight: 400;
}

.container{
  padding: 0 15px;
  max-width: 1130px;
  margin: 0 auto;
}

.no-drag {
  -webkit-user-drag: none; /* Отключает перетаскивание изображений*/
  user-select: none; /* Отключает выделение изображений как текста */
}

/* PAGE */

.page{
  height: 100vh;
}
.page__grid{
  display: grid;
  grid-template-rows: 53px 190px 290px 250px;
  grid-template-columns: 2fr 7fr 4fr ;
  row-gap: 12px;
  height: 100vh;
}
.profile {
  display: flex;
  align-items: center;
  padding: 20px;
  border: #363738 1px solid;
  background: var(--bacground-color-elements);
  border-radius: 10px;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}
.profile-avatar img{
  width: 150px;
  height: 150px;
  border-radius: 80px;
}
.profile-wrapper {
}
.profile-main {
  display: flex;
  margin: 0 0 0 16px;
}
.profile-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: var(--white);
}
.profile-info h2{
  font-size: 20px;
  letter-spacing: 0.2px;
  font-weight: 700;
}
.profile-info span{
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 4px;
}
.profile-info-dop{
  display: flex;
  justify-content: space-between;  
  gap: 10px;
}
.profile-info-dop span:hover{
  text-decoration: underline;
  cursor: pointer;
}

.profile-info-dop img{
  width: 20px;
  height: 20px;
}
.profile-info-dop span{
  color: var(--gray-color);
}
.profile-button {
  margin: 0 0 0 11.5em;
}
.profile-button button{
  text-align: center; 
  line-height: 32px;
  height: 32px;
  background: #393939;
  border-radius: 7px;
}
.profile-button button:hover{
  background: #3D3D3D;
}
.profile-button span{
  padding: 0 16px;
  font-size: 14px;
  color: var(--white);
  font-weight: 600;
}
.preview-panel {
  grid-column: 2 / 3;
  border: #363738 1px solid;
  background: var(--bacground-color-elements);
  border-radius: 10px;
  grid-row: 3 / 4;
  padding: 8px;
  margin-right: 16px;
}
.preview-panel__sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.preview-panel__sections-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-color);
  font-weight: 500;
  font-size: 14px;
  padding: 2px 8px;
}
.preview-panel__sections-item img{
  filter: brightness(0) saturate(100%) invert(58%) sepia(0%) saturate(0%) hue-rotate(187deg) brightness(93%) contrast(89%);
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
.preview-panel__content {
  padding: 8px 12px 12px;
}
.preview-panel__content-photo {
}
.preview-panel__content-photo img{
  width: 166px;
  height: 166px;
}
.preview-panel__content-buttons {
}




















.page__inner {
  grid-row: 4;
}
.page__inner div{
  margin-bottom: 16px;
}
.new-post {
  grid-column: 2 / 3;
  background-color: #0671b8bd;
  border: 1px solid red;
}
.posts {
  grid-column: 2 / 3;
  background-color: #0671b8bd;
  border: 1px solid red;
  align-self: start;
}
.aside {
  grid-column: 3 / 4;
  grid-row: 3;
}
.aside div {
  margin-bottom: 16px;
}
.friends {
  grid-column: 3 / 4;
  background-color: #0671b8bd;
  border: 1px solid red;
}
.gifts {
  grid-column: 3 / 4;
  background-color: #0671b8bd;
  border: 1px solid red;
}
.subscriptions {
  grid-column: 3 / 4;
  background-color: #0671b8bd;
  border: 1px solid red;
}
